# LLMs API KEYs
GROQ_API_KEY = "bsjbfbsj763dshdjs8378fdjksjbkdsgf3"
COHERE_API_KEY = "sbfhsdjfjsdbfjkb3734872656ayjbfbjkHDJ"

# DATABASE AIVEN KEYs
DATABASE_AIVEN = "data_base_db"
HOST_AIVEN = "data_base-db.cloud.com"
PASSWORD_AIVEN = "NNAj7SD77jkj"
PORT_AIVEN = "02141"
USER_AIVEN = "cdadmin"